<ion-toolbar class="header-bar">
  <div slot="start">
    <a href="/"><img src="assets/stake_logo.svg" alt="Stake" /></a>
  </div>
  
  <div slot="secondary" class="search-container">
    <ion-icon name="search" aria-label="Search icon"></ion-icon>
    Search
  </div>
  
  <div slot="end">
    <ion-button type="button" fill="clear" (click)="toggleDarkMode()" aria-label="Toggle dark mode">
      <ion-icon [name]="(isDarkMode$ | async) ? 'sunny' : 'moon'" aria-label="Toggle dark mode icon"></ion-icon>
    </ion-button>
  </div>
</ion-toolbar>
